<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Titanic ¿Vives o mueres?</title>
</head>
<body>
    <div class="appContainer">
        <header class="header">
            <img class="logo"src="static/images/titanic-logo.png" alt="Titanic Logo">
            <h1 class="title">Titanic</h1>          
            <nav class="menu">
                <ul>
                    <li><a href="#tickets">Buy Tickets</a></li></li>
                    <li> <a href="#aboutUs">About</a></li>
                    <li><a href="#info">Info</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <div class="descriptionHero">
                <img src="static/images/hero-title.png" alt="Hero Title">
                <h2> Do you want to travel on the most famous cruise ship in the world? </h2>
                <p> Come and enjoy the adventure of your life </br> find out if your <strong>live</strong> or <strong>die</strong> on The TITANIC</p>
                <button href="#tickets" class="myButton">BOOK NOW</button>    
            </div>
            
            
        </section>
        <section class="sales" id="tickets">
            
        </section>
        <section class="about" id="aboutUs">
            
        </section>
        <footer class="footer" id="info">
            
        </footer>
    </div>   
    
</body>
</html>