<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
    <meta property="og:image" content="../static/images/thumbnail.jpg"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Titanic: Will you survive or die?" />
    <meta property="og:description" content="Do you want to travel on the most famous cruise ship in the world? Come and enjoy the adventure of your life and discover if your live or die on the Titanic." />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <title>Titanic ¿Vives o mueres?</title>
</head>
<body>
    <i class="icon-menu burger-button" id="burger-menu"></i>
    <div class="appContainer">
        <header class="header">
            <img class="logo"src="../static/images/titanic-logo.png" alt="Titanic Logo">
            <h1 class="title">Titanic</h1>          
            <nav class="menu is-active">
                <ul>
                    <li><a href="#tickets">Buy Tickets</a></li></li>
                    <li> <a href="#aboutUs">About</a></li>
                    <li><a href="#info">Info</a></li>
                </ul>
            </nav>
        </header>
        <section class="hero">
            <div class="imageHero"></div>
            <div class="descriptionHero">
                <img src="../static/images/hero-title.png" alt="Hero Title">
                <h2> Do you want to travel on the most famous cruise ship in the world? </h2>
                <p> Come and enjoy the adventure of your life </br> find out if your <strong>live</strong> or <strong>die</strong> on The TITANIC</p>
                <a href="#tickets" class="myButton">BOOK NOW</a>    
            </div>    
        </section>
        <section class="sales" id="tickets">
            <form id="formulario" class="formContainer">
                <h3>Book your travel</h3>
                Name:
                <select name="pTitles" required form="formulario">
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Don">Don</option>
                        <option value="Dona">Dona</option>
                        <option value="Sir">Sir</option>
                        <option value="Lady">Lady</option>
                        <option value="Master">Master</option>
                        <option value="Major">Major</option>
                        <option value="Capt">Capt</option>
                        <option value="Dr">Dr</option>
                        <option value="Rev">Rev</option>
                        <option value="Countess">Countess</option>
                        <option value="Col">Col</option>
                        <option value="Jonkheer">Jonkheer</option>
                </select>
                <input name="nameID" type="text" maxlength="100" required id="name"><br>
                Age:
                <input name="age" type="number" min="0" max="100" required>
                Gender:
                <input type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female<br>
               Travel with someone else?
                <input name="companions" type="number" min="0" required style="width: 100px"><br>
                Class:
                <input type="radio" name="class" value="1" checked> 1
                <input type="radio" name="class" value="2"> 2
                <input type="radio" name="class" value="3"> 3<br>
                Type of cabin:
                <input type="radio" name="embarqued" value="c" checked> C
                <input type="radio" name="embarqued" value="q"> Q
                <input type="radio" name="embarqued" value="s"> S<br>
                Rate: (0 - 512)
                <input name="rate" type="number" min="0" max="512" id="rate" required><br>
                <input id="formButton" type="submit" value="BOOK IT!">
            </form>
            <img src="../static/images/tickets-image.png" alt="Ship" class="formIMG"> 
            <div class="overlay" id="overlay"></div>
            <div class="modal" id="modal">
                <div class="modal-content">
                    <img src="../static/images/lifesaver.png" alt="Lifesaver">
                    <h3></h3>
                    <h4></h4>
                    <p>SHARE YOUR RESULT:</p>
                </div>
                <div class="modal-buttons">
                    <div class="social">
                        <button id="twitter" class="modal-btn twitter" data-sharer="twitter" data-title="I traveled on the Titanic, try yourself" data-hashtags="awesome" data-url="http://3.16.15.195:5000/">Twitter</button>
                        <button id="facebook"class="modal-btn facebook" data-sharer="facebook" data-hashtag="hashtag" data-url="http://3.16.15.195:5000/">Facebook</button>
                    </div>
                    <button class="modal-btn primary" id="hide-modal">Try Again!</button>
                </div>
            </div>
        </section>
        <section class="about" id="aboutUs">
            <h3>A little history about the TITANIC</h3>
            <p>
                RMS Titanic was a Britishpassenger liner that sank in theNorth Atlantic Ocean in 1912 after the ship struck an icebergduring her maiden voyage fromSouthampton to New York City. <br><br>Of the estimated 2,224 passengersand crew aboard, more than 1,500died, making it one of modernhistory's deadliest peacetimecommercial marine disasters.<br><br>
                RMS Titanic was the largest ship afloat at the time she entered service and was the second of three Olympic-class ocean liners operated by the White Star Line. She was built by the Harland and Wolff shipyard in Belfast. Thomas Andrews, chief naval architect of the shipyard at the time, died in the disaster. 
            </p> 
        </section>
        <footer class="footer" id="info">
            <div>
                If you want to use this API, feel free to do it. We only ask that you please give us credits in your project. <br>
                <a href="#API">API</a>   
            </div>
            <div>
                A project created by <a href="https://twitter.com/angelygranados">@angelygranados</a>  and <a href="https://twitter.com/osmandi">@osmandi</a> 
            </div>
            
        </footer>
    </div>   
    
</body>
<script src="../static/js/script.js"></script>
<script>
const ipad = window.matchMedia('screen and (max-width: 767px)')
  const menu = document.querySelector('.menu');
  menu.classList.remove('is-active');
  //console.log(menu);
  const burgerButton = document.querySelector('#burger-menu');
  // console.log(burgerButton);
  ipad.addListener(validation)
  function validation(event) {
    if (event.matches) {
      burgerButton.addEventListener('click', hideShow)
    } else {
      burgerButton.removeEventListener('click', hideShow)
    }
  }
  validation(ipad);
  function hideShow() {
    if (menu.classList.contains('is-active')) {
      menu.classList.remove('is-active');
    } else {
      menu.classList.add('is-active');
    }
  }</script>
<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>

</html>